<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="qztrayPass" value="QZ-4SC8-DGLQ-PN5M"/>
    <add key="certificadoPass" value="#DESW2ASDZX"/>
    <add key="ValidSunatServices" value="SunatBeta"/>
    <add key="tokenConsultaRuc" value="f953af6d-4587-4352-9215-4ffbdc2cf9e8-5afe62bd-4cc0-4bcc-8312-8aaaafe20b7f"/>
    <add key="urlConsultaRuc" value="https://ruc.com.pe/api/v1/ruc"/>
    <add key="resolucionSunat" value="Representación impresa del Comprobante de Venta Electronica. Consulte documento en: see.cloudcomputing.pe/ConsultarComprobante" />
  </appSettings>
  <connectionStrings>
    <!-- LOCAL -->
    <!-- <add name="SQLLocalConnection" connectionString="Server = sql5018.smarterasp.net; Database = DB_A0FCCD_aldolancho; User = DB_A0FCCD_aldolancho_admin; Password = Grifosoft1" />-->
    <add name="SQLLocalConnection" connectionString="Server =.; Database = FLEXIBLE; User = sa; Password = sql" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" defaultRedirect="~/Views/Seguridad/DefaultError.cshtml">
      <error statusCode="404" redirect="~/Views/Seguridad/Error404.cshtml"/>
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="DocumentosElectronicoSunatBeta.billService" name="BillServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="ABC-123">
              <wsse:Username>20534525070MODDATOS</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">MODDATOS</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-factura.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding1"
        contract="DocumentoElectronicoSunat.billService" name="BillServicePort1">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20534525070ARIVAS55</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">Rivas7349</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-factura.sunat.gob.pe/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="ConsultaSunat.billService" name="BillConsultServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="ABC-123">
              <wsse:Username>20534525070ARIVAS55</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">Rivas7349</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
